# Movie Recommender System
- Author: Alexis
- Created: 2021/10/2
- Updated: 2022/2/27

The content-based recommendation system uses the TF-IDF vector of the movie metadata to represent the movie, calculates the cosine similarity of the vector as the movie similarity, sorts the similarity, and takes the top 10 movies as the recommendation result.

## Text Pre-processing
- 資料集 : movie_metadata.csv 共有 45,466筆

### Processing for Metadata

In [ ]:
import pandas as pd

# 指定資料集檔案位置
PATH = '/content/drive/MyDrive/shared_folder/dataset/imdb/'

# 載入資料
df_metadata = pd.read_csv(PATH + 'movies_metadata.csv')

# 顯示資料數量
df_metadata.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(45466, 24)

In [ ]:
# 顯示資料欄位
print(df_metadata.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
# 顯示前5筆資料
df_metadata.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
# 取用部分欄位
df_metadata = df_metadata[['genres','id','overview','status','original_title']]
df_metadata.head()

                                              genres  ...               original_title
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  ...                    Toy Story
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...  ...                      Jumanji
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...             Grumpier Old Men
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  ...            Waiting to Exhale
4                     [{'id': 35, 'name': 'Comedy'}]  ...  Father of the Bride Part II

[5 rows x 5 columns]

In [ ]:
# 查看status欄位的所有不重複值
df_metadata.status.unique()

# 取出status欄位為Released的資料(row)
df_metadata = df_metadata[df_metadata['status'].isin(['Released'])]
df_metadata = df_metadata[df_metadata['status']=='Released']
df_metadata

                                                  genres  ...               original_title
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  ...                    Toy Story
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...  ...                      Jumanji
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...             Grumpier Old Men
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  ...            Waiting to Exhale
4                         [{'id': 35, 'name': 'Comedy'}]  ...  Father of the Bride Part II
...                                                  ...  ...                          ...
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...  ...                      رگ خواب
45462                      [{'id': 18, 'name': 'Drama'}]  ...          Siglo ng Pagluluwal
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...  ...                     Betrayal
45464                                                 []  ...          Satana likuyushchiy
45465                                                 []  ...                     Queerama

[45014 rows x 5 columns]

In [ ]:
# 處理NaN (NaN -> 空白)
df_metadata['overview'] = df_metadata['overview'].fillna('')
df_metadata['overview']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45014, dtype: object

In [ ]:
# 文字前處理
import nltk
nltk.download('wordnet')

import re
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def preprocess(text):
    processed_text = []
    for token in simple_preprocess(text):
        if token not in STOPWORDS:
            token = lemmatizer.lemmatize(token, pos='v')
            token = lemmatizer.lemmatize(token, pos='n')
            processed_text.append(token)
    return ' '.join(processed_text)

df_metadata['overview'] = df_metadata['overview'].astype('str')
df_metadata['overview'] = df_metadata['overview'].apply(preprocess)
df_metadata['overview'][0]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

'lead woody andy toy live happily room andy birthday bring buzz lightyear scene afraid lose place andy heart woody plot buzz circumstance separate buzz woody owner duo eventually learn aside difference'

In [ ]:
# 查看第一筆資料的genres內容
df_metadata['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [ ]:
# *** eval()是用來執行一個字串表達式(執行字串內容)
# *** literal_eval()則先判斷該表達式是否安全
from ast import literal_eval

# 取出name的值，並用空白連接起來
def get_names_from_json_string(a_string):
    a_list = literal_eval(a_string)
    combined_names_list = [a_dict['name'] for a_dict in a_list]
    combined_names_string = ' '.join(combined_names_list)
    return combined_names_string

# 以apply對df_metadata中的每一筆資料執行get_genres這個函示
df_metadata['genres'] = df_metadata['genres'].apply(get_names_from_json_string)
df_metadata['genres'][0]

'Animation Comedy Family'

### Processing for Credits

In [ ]:
# 載入資料
df_credits = pd.read_csv(PATH + 'imdb_credits.csv')

# 顯示前5筆資料
df_credits.head(1)

                                                cast  ...   id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  862

[1 rows x 3 columns]

In [ ]:
# 顯示第一筆資料的cast的內容
literal_eval(df_credits['cast'][0])

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [ ]:
# 取出cast(所有演員姓名)，並以空白連接
df_credits['cast'] = df_credits['cast'].apply(get_names_from_json_string)

# 顯示第一筆資料的cast的內容
df_credits['cast'][0]

'Tom Hanks Tim Allen Don Rickles Jim Varney Wallace Shawn John Ratzenberger Annie Potts John Morris Erik von Detten Laurie Metcalf R. Lee Ermey Sarah Freeman Penn Jillette'

In [ ]:
# 顯示第一筆資料的crew的內容
literal_eval(df_credits['crew'][0])

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f55',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f5b',
  'department': 'Writing',
  'gender': 2,
  'id': 12892,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f61',
  'department': 'Writing',
  'gender': 0,
  'id': 12893,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f67',
  'department': 'Production',
  'gender': 1,
  'id': 12894,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f6d',
  'department': 'Production',
  'gender': 0,
  'id': 12895,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f73',
  'department': 'Production',
  'gender': 2,
  'id': 12896,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f79',
  'department': 'Production',
  'gender': 2,
  'id': 12897,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f8b',
  'department': 'Editing',
  'gender': 2,
  'id': 8,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f91',
  'department': 'Art',
  'gender': 2,
  'id': 7883,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'credit_id': '598331bf925141421201044b',
  'department': 'Editing',
  'gender': 2,
  'id': 1168870,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'credit_id': '5892168cc3a36809660095f9',
  'department': 'Sound',
  'gender': 0,
  'id': 1552883,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'credit_id': '5531824d9251415289000945',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1453514,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'credit_id': '589215969251412dcb009bf6',
  'department': 'Sound',
  'gender': 0,
  'id': 1414182,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'credit_id': '589217099251412dc500a018',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5693e6b29251417b0e0000e3',
  'department': 'Editing',
  'gender': 0,
  'id': 1429549,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'credit_id': '572e2522c3a36869e6001a9c',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7949,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'credit_id': '574f12309251415ca1000012',
  'department': 'Writing',
  'gender': 2,
  'id': 7879,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '574f1240c3a3682e7300001c',
  'department': 'Writing',
  'gender': 2,
  'id': 12890,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '574f12519251415c92000015',
  'department': 'Writing',
  'gender': 0,
  'id': 7911,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'credit_id': '574f12cec3a3682e82000022',
  'department': 'Crew',
  'gender': 0,
  'id': 1629419,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'credit_id': '574f14f19251415ca1000082',
  'department': 'Art',
  'gender': 0,
  'id': 7961,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'credit_id': '5751ae4bc3a3683772002b7f',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 12905,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'credit_id': '5891edbe9251412dc5007cd6',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '589213d39251412dc8009832',
  'department': 'Directing',
  'gender': 0,
  'id': 1748707,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'credit_id': '5892173dc3a3680968009351',
  'department': 'Sound',
  'gender': 2,
  'id': 4949,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'credit_id': '589217cec3a3686b0a0052ba',
  'department': 'Sound',
  'gender': 0,
  'id': 1372885,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'credit_id': '58921831c3a3686348004a64',
  'department': 'Editing',
  'gender': 0,
  'id': 1739962,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'credit_id': '58921838c3a36809700096c0',
  'department': 'Editing',
  'gender': 0,
  'id': 1748513,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'credit_id': '589218429251412dd1009d1b',
  'department': 'Art',
  'gender': 0,
  'id': 1458006,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'credit_id': '5891ed99c3a3680966007670',
  'department': 'Crew',
  'gender': 0,
  'id': 1748557,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'credit_id': '5891edcec3a3686b0a002eb2',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5891edf9c3a36809700075e6',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58920f0b9251412dd7009104',
  'department': 'Crew',
  'gender': 2,
  'id': 12890,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '58920f1fc3a3680977009021',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '58920f389251412dd700912d',
  'department': 'Production',
  'gender': 0,
  'id': 12909,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'credit_id': '58920fbd9251412dcb00969c',
  'department': 'Crew',
  'gender': 0,
  'id': 953331,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'credit_id': '589210069251412dd7009219',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7893,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'credit_id': '589210329251412dcd00943b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8025,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'credit_id': '5892103bc3a368096a009180',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 78009,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'credit_id': '5892105dc3a3680968008db2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748682,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'credit_id': '589210669251412dcd009466',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454030,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'credit_id': '5892107c9251412dd1009613',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748683,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'credit_id': '5892108ac3a3680973008d3f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748684,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'credit_id': '58921093c3a3686348004477',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 8029,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'credit_id': '5892109b9251412dcd0094b0',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1426773,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'credit_id': '589210a29251412dc5009a29',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8035,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'credit_id': '589210ccc3a3680977009191',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748688,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'credit_id': '589210d7c3a3686b0a004c1f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 587314,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'credit_id': '589210e1c3a36809770091a7',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '589210ee9251412dc200978a',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748689,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'credit_id': '589210fa9251412dc8009595',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7892,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'credit_id': '589211029251412dc8009598',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 555795,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'credit_id': '5892110b9251412dc800959d',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7882,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'credit_id': '58921113c3a36863480044e4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8017,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'credit_id': '5892111c9251412dcb0097e9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1184140,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'credit_id': '58921123c3a36809700090f6',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8049,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'credit_id': '5892112b9251412dcb0097fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1509559,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'credit_id': '589211349251412dc80095c3',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748691,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'credit_id': '5892113cc3a3680970009106',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8050,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'credit_id': '58921148c3a3686b0a004c99',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8010,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'credit_id': '58921150c3a3680966009125',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8044,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'credit_id': '589211629251412dc5009b00',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454034,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'credit_id': '589211c1c3a3686b0a004d28',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7887,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'credit_id': '589211d4c3a3680968008ed9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1406878,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'credit_id': '589211f59251412dd4008e65',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748698,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'credit_id': '58921242c3a368096a00939b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748699,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'credit_id': '5892124b9251412dc5009bd2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748701,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'credit_id': '58921264c3a3686b0a004dbf',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748703,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'credit_id': '589212709251412dcd009676',
  'department': 'Lighting',
  'gender': 1,
  'id': 12912,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'credit_id': '5892127fc3a3686b0a004de5',
  'department': 'Lighting',
  'gender': 0,
  'id': 7899,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'credit_id': '589212cdc3a3680970009268',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892130f9251412dc8009791',
  'department': 'Art',
  'gender': 0,
  'id': 1748705,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'credit_id': '5892131c9251412dd4008f4c',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7889,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'credit_id': '589213249251412dd100987b',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '5892132b9251412dc80097b1',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58921332c3a368634800467b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892135f9251412dd4008f90',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748706,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'credit_id': '58921384c3a3680973008fd4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1176752,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'credit_id': '5892138e9251412dc20099fc',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1088034,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'credit_id': '58921395c3a368097700942f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1447465,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'credit_id': '589213e2c3a3680973009026',
  'department': 'Directing',
  'gender': 0,
  'id': 1748709,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'credit_id': '589214099251412dc5009d57',
  'department': 'Art',
  'gender': 0,
  'id': 1748710,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'credit_id': '58921411c3a3686b0a004f70',
  'department': 'Art',
  'gender': 0,
  'id': 1443471,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'credit_id': '58921434c3a368096a00956e',
  'department': 'Art',
  'gender': 0,
  'id': 1748711,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'credit_id': '5892144ac3a36809680090de',
  'department': 'Editing',
  'gender': 0,
  'id': 1748712,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'credit_id': '58921479c3a368096800910f',
  'department': 'Editing',
  'gender': 0,
  'id': 1589729,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'credit_id': '5892148b9251412dd10099cc',
  'department': 'Editing',
  'gender': 0,
  'id': 1748716,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'credit_id': '589214959251412dcb009b1f',
  'department': 'Editing',
  'gender': 0,
  'id': 1748717,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'credit_id': '5892149ec3a3686348004798',
  'department': 'Editing',
  'gender': 0,
  'id': 1336438,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'credit_id': '589214adc3a368096a0095db',
  'department': 'Editing',
  'gender': 0,
  'id': 1748718,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'credit_id': '589214c7c3a368097700952b',
  'department': 'Production',
  'gender': 0,
  'id': 1748719,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'credit_id': '589214cec3a368096a009603',
  'department': 'Production',
  'gender': 0,
  'id': 1748720,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'credit_id': '589214e39251412dc8009904',
  'department': 'Crew',
  'gender': 0,
  'id': 1468014,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'credit_id': '58921544c3a3686b0a00507d',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '5892154c9251412dd1009a56',
  'department': 'Sound',
  'gender': 0,
  'id': 1425978,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'credit_id': '58921555c3a36809680091bd',
  'department': 'Sound',
  'gender': 2,
  'id': 8276,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'credit_id': '589215c39251412dcb009c12',
  'department': 'Sound',
  'gender': 0,
  'id': 7069,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'credit_id': '58921698c3a368096a009788',
  'department': 'Crew',
  'gender': 2,
  'id': 15894,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'credit_id': '589216a89251412dc2009ca4',
  'department': 'Sound',
  'gender': 0,
  'id': 1414177,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'credit_id': '589216c19251412dc2009cb9',
  'department': 'Sound',
  'gender': 1,
  'id': 1748724,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'credit_id': '589216ccc3a3680973009274',
  'department': 'Sound',
  'gender': 0,
  'id': 1748725,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'credit_id': '589216d79251412dc8009aa0',
  'department': 'Sound',
  'gender': 0,
  'id': 8067,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'credit_id': '589216e49251412dcd009a4f',
  'department': 'Production',
  'gender': 1,
  'id': 7902,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'credit_id': '589216f39251412dc2009cf3',
  'department': 'Production',
  'gender': 0,
  'id': 84493,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',

In [ ]:
# 從crew欄位取出job為director的導演姓名，並以空白連接

def get_director_name_from_json_string(string_):
    list_ = literal_eval(string_)
    for dict_ in list_:
        if dict_['job'] == 'Director':
            return dict_['name']
    return ''

df_credits['director'] = df_credits['crew'].apply(get_director_name_from_json_string)

# 刪除crew欄位
del df_credits['crew']

# 顯示第一筆資料的cast的內容
df_credits['director'][0]

'John Lasseter'

### Processing for Keywords

In [ ]:
# 載入資料
df_keywords = pd.read_csv(PATH + 'imdb_keywords.csv')

# 顯示第一筆資料
df_keywords.head(1)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [ ]:
# 顯示第一筆資料的keywords
literal_eval(df_keywords['keywords'][0])

[{'id': 931, 'name': 'jealousy'},
 {'id': 4290, 'name': 'toy'},
 {'id': 5202, 'name': 'boy'},
 {'id': 6054, 'name': 'friendship'},
 {'id': 9713, 'name': 'friends'},
 {'id': 9823, 'name': 'rivalry'},
 {'id': 165503, 'name': 'boy next door'},
 {'id': 170722, 'name': 'new toy'},
 {'id': 187065, 'name': 'toy comes to life'}]

In [ ]:
# 取出keywords (以apply對df_keywords中的每一筆資料執行get_names_from_json_string這個函示)
df_keywords['keywords'] = df_keywords['keywords'].apply(get_names_from_json_string)

# 顯示第一筆資料的keywords內容
df_keywords['keywords'][0]

'jealousy toy boy friendship friends rivalry boy next door new toy toy comes to life'

### Merge DataFrames

In [ ]:
# 將id欄位轉為數值型態
df_metadata['id'] = df_metadata['id'].astype('str')
df_credits['id'] = df_credits['id'].astype('str')
df_keywords['id'] = df_keywords['id'].astype('str')

# 合併三個資料表
df_data = df_metadata.merge(df_credits, on='id').drop_duplicates()
df_data = df_data.merge(df_keywords, on='id').drop_duplicates()

# 顯示第一筆資料
df_data.head(1)

                    genres  ...                                           keywords
0  Animation Comedy Family  ...  jealousy toy boy friendship friends rivalry bo...

[1 rows x 8 columns]

In [ ]:
df_data.shape

(44985, 8)

In [ ]:
# 移除有nan的資料
df_data = df_data.dropna()
df_data.shape

(44985, 8)

In [ ]:
# 把6個欄位合併成一個字串，中間以空白隔開
def combine_columns(row):
    txt = row['genres'] + ' ' + row['overview'] + ' ' + row['original_title'] + ' ' + row['cast'] + ' ' + row['director'] + ' ' + row['keywords']
    return txt.lower()

df_data['combined_txt'] = df_data.apply(combine_columns, axis=1)

# 顯示前五筆combined_txt
df_data[['combined_txt']].head()

                                        combined_txt
0  animation comedy family lead woody andy toy li...
1  adventure fantasy family sibling judy peter di...
2  romance comedy family wed reignite ancient feu...
3  comedy drama romance cheat mistreat step woman...
4  comedy george bank recover daughter wed receiv...

In [ ]:
#import pickle

#with open('/content/drive/MyDrive/Colab Notebooks/推薦系統/movie_texts.pkl','wb') as f:
#    pickle.dump(df_data, f)

#with open('/content/drive/MyDrive/Colab Notebooks/推薦系統/movie_texts.pkl','rb') as f:
#    df_data = pickle.load(f)
#    print(df_data.shape)

#df_data

## Vector Represtation of Documents

In [ ]:
# 產生TF-IDF分數

from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

#傳入fit_transform的資料格式可以是dataframe的series，也可以是python的list
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_data['combined_txt'])

# 顯示資料筆數與詞典的詞總數(詞典大小)
tfidf_matrix.shape

# 顯示詞典中詞的總數(詞典尺寸)
print(len(tfidf.get_feature_names()))

# 顯示詞典中第1001~1010個詞
print(tfidf.get_feature_names()[:10])

173219
['00', '000', '002', '008', '009', '009ノ1', '01', '02', '03', '04']

### Similarities of Documents

In [ ]:
# 產生編號與電影名稱對應表
# *** 原本的索引作為新陣列的值，電影標題作為新陣列的索引 ***

import pandas as pd

df_data = df_data.reset_index()
indices = pd.Series(df_data.index, index=df_data['original_title'])

In [ ]:
# https://kanoki.org/2019/11/12/how-to-use-regex-in-pandas/
'''
# 搜尋電影名稱
import numpy as np
foo = df_metadata
foo[foo.original_title.str.contains('Matrix', regex= True, na=False)]
'''

#movie_title = 'Toy Story'
movie_title = 'The Matrix'

# 取出該電影的編號(索引)
movie_idx = indices[movie_title]
print(movie_idx)

# 取出該電影的tfidf向量
movie_vector = tfidf_matrix[movie_idx]
#movie_vector = movie_vector.reshape(-1,1)

2445

In [ ]:
# 計算相似度(得到一個矩陣)

from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(movie_vector,tfidf_matrix)
print(similarity.shape)

similarity = similarity.tolist()[0]

(1, 44985)

### Ranking of Documents

In [ ]:
# 取出該電影與其他電影的相似度分數，並與電影編號組成tuple
# (enumerate可以吃list或是numpy array)
sim_scores = list(enumerate(similarity))

# 將相似度分數進行排序
sorted_sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)

# 取出相似度最高之前十部電影
top_sim_scores = sorted_sim_scores[1:11]

# 取出該十部電影之編號
movie_indices = [i[0] for i in top_sim_scores]
print(movie_indices)

# 取出電影名稱
recommend_movies = [indices[indices == i].index[0] for i in movie_indices]
recommend_movies

[6747, 6189, 43432, 43720, 9324, 43714, 6481, 43716, 20574, 4221]

['The Matrix Revolutions',
 'The Matrix Reloaded',
 'The Matrix Revisited',
 "Kid's Story",
 'The Animatrix',
 'A Detective Story',
 'Commando',
 'World Record',
 'Underground: The Julian Assange Story',
 'A.I. Artificial Intelligence']