<a href="https://colab.research.google.com/github/alexislintw/Movie-Recommender-Systems/blob/main/rs_user_collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommender System
### Base on User Collaborative Filtering
- Author: Alexis
- Created: 2021/2/24
- Updated: 2022/2/27

### Load and organize the data

In [ ]:
import pandas as pd

PATH = '/content/drive/MyDrive/Dataset/ml-latest-small/'
ratings = pd.read_csv(PATH + 'ratings.csv')
movies = pd.read_csv(PATH + 'movies.csv')

print(ratings.columns)

# 只取需要的欄位
ratings = ratings[['userId', 'movieId', 'rating']]

# 轉成『用戶-物品』評分矩陣
rating_pivot = ratings.pivot(index="userId",columns="movieId",values="rating").fillna(0)
rating_pivot

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
606         2.5     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
607         4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
608         2.5     2.0     2.0     0.0  ...     0.0     0.0     0.0     0.0
609         3.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
610         5.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[610 rows x 9724 columns]

In [ ]:
print(rating_pivot.shape)
print(rating_pivot.index)
print(rating_pivot.columns)

(610, 9724)
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
           dtype='int64', name='userId', length=610)
Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            193565, 193567, 193571, 193573, 193579, 193581, 193583, 193585,
            193587, 193609],
           dtype='int64', name='movieId', length=9724)

### Generate the matrix of the user similarity

In [ ]:
import numpy as np

# 轉成是否有評分
rating_pivot[rating_pivot > 0] = 1
print(rating_pivot.head())

# 共現矩陣C (評分矩陣與評語矩陣轉置的內積)
#C = A.dot(A.T)
C = rating_pivot@rating_pivot.T
print(C)

### TODO
# 懲罰熱門物品
# count[u][v] += 1 / math.log(1+len(users))
### TODO

# 取出共現矩陣 C 的對角，為每個用戶各自的評分次數
arr1 = C.to_numpy()
user_rating_counts = np.diagonal(arr1)

# 複製一維陣列為矩陣
arr2 = np.tile(user_rating_counts, (len(user_rating_counts),1))
X = pd.DataFrame(data=arr2.T)
print(X)

# 分母部份：C' = N(u)*N(v)
C_ = X*X.T
C_.index = range(1,C_.shape[0]+1)
C_.columns = range(1,C_.shape[0]+1)
print(C_)

# 分母部份：C'開根號
D = np.sqrt(C_)
print(D)

#計算最後的相似度矩陣
S = C/D
S

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           1.0     0.0     1.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           1.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 9724 columns]
userId    1     2     3      4     5    ...     606    607    608   609     610
userId                                  ...
1       232.0   2.0   7.0   45.0  13.0  ...    84.0   60.0  136.0   9.0    69.0
2         2.0  29.0   0.0    1.0   1.0  ...     5.0    1.0    6.0   1.0    18.0
3         7.0   0.0  39.0    1.0   1.0  ...     8.0    4.0    9.0   0.0     7.0
4        45.0   1.0   1.0  216.0  12.0  ...    96.0   29.0   74.0   3.0    53.0
5        13.0   1.0   1.0   12.0  44.0  ...    23.0   15.0   30.0  10.0    14.0
...       ...   ...   ...    ...   ...  ...     ...    ...    ...   ...     ...
606      84.0   5.0   8.0   96.0  23.0  ...  1115.0   75.0  254.0  15.0   223.0
607      60.0   1.0   4.0   29.0  15.0  ...    75.0  187.0  116.0  12.0    61.0
608     136.0   6.0   9.0   74.0  30.0  ...   254.0  116.0  831.0  23.0   296.0
609       9.0   1.0   0.0    3.0  10.0  ...    15.0   12.0   23.0  37.0    10.0
610      69.0  18.0   7.0   53.0  14.0  ...   223.0   61.0  296.0  10.0  1302.0

[610 rows x 610 columns]
        0       1       2       3    ...     606     607     608     609
0     232.0   232.0   232.0   232.0  ...   232.0   232.0   232.0   232.0
1      29.0    29.0    29.0    29.0  ...    29.0    29.0    29.0    29.0
2      39.0    39.0    39.0    39.0  ...    39.0    39.0    39.0    39.0
3     216.0   216.0   216.0   216.0  ...   216.0   216.0   216.0   216.0
4      44.0    44.0    44.0    44.0  ...    44.0    44.0    44.0    44.0
..      ...     ...     ...     ...  ...     ...     ...     ...     ...
605  1115.0  1115.0  1115.0  1115.0  ...  1115.0  1115.0  1115.0  1115.0
606   187.0   187.0   187.0   187.0  ...   187.0   187.0   187.0   187.0
607   831.0   831.0   831.0   831.0  ...   831.0   831.0   831.0   831.0
608    37.0    37.0    37.0    37.0  ...    37.0    37.0    37.0    37.0
609  1302.0  1302.0  1302.0  1302.0  ...  1302.0  1302.0  1302.0  1302.0

[610 rows x 610 columns]
          1        2        3    ...        608      609        610
1     53824.0   6728.0   9048.0  ...   192792.0   8584.0   302064.0
2      6728.0    841.0   1131.0  ...    24099.0   1073.0    37758.0
3      9048.0   1131.0   1521.0  ...    32409.0   1443.0    50778.0
4     50112.0   6264.0   8424.0  ...   179496.0   7992.0   281232.0
5     10208.0   1276.0   1716.0  ...    36564.0   1628.0    57288.0
..        ...      ...      ...  ...        ...      ...        ...
606  258680.0  32335.0  43485.0  ...   926565.0  41255.0  1451730.0
607   43384.0   5423.0   7293.0  ...   155397.0   6919.0   243474.0
608  192792.0  24099.0  32409.0  ...   690561.0  30747.0  1081962.0
609    8584.0   1073.0   1443.0  ...    30747.0   1369.0    48174.0
610  302064.0  37758.0  50778.0  ...  1081962.0  48174.0  1695204.0

[610 rows x 610 columns]
            1           2           3    ...          608         609          610
1    232.000000   82.024387   95.120976  ...   439.080858   92.649879   549.603493
2     82.024387   29.000000   33.630343  ...   155.238526   32.756679   194.314179
3     95.120976   33.630343   39.000000  ...   180.024998   37.986840   225.339743
4    223.857097   79.145436   91.782351  ...   423.669683   89.397987   530.313115
5    101.034648   35.721142   41.424630  ...   191.217154   40.348482   239.349117
..          ...         ...         ...  ...          ...         ...          ...
606  508.605938  179.819354  208.530573  ...   962.582464  203.113269  1204.877587
607  208.288262   73.641021   85.399063  ...   394.204262   83.180527   493.430846
608  439.080858  155.238526  180.024998  ...   831.000000  175.348225  1040.174024
609   92.649879   32.756679   37.986840  ...   175.348225   37.000000   219.485763
610  549.603493  194.314179  225.339743  ...  1040.174024  219.485763  1302.000000

[610 rows x 610 columns]

userId       1         2         3    ...       608       609       610
userId                                ...
1       1.000000  0.024383  0.073590  ...  0.309738  0.097140  0.125545
2       0.024383  1.000000  0.000000  ...  0.038650  0.030528  0.092633
3       0.073590  0.000000  1.000000  ...  0.049993  0.000000  0.031064
4       0.201021  0.012635  0.010895  ...  0.174664  0.033558  0.099941
5       0.128669  0.027995  0.024140  ...  0.156890  0.247841  0.058492
...          ...       ...       ...  ...       ...       ...       ...
606     0.165157  0.027806  0.038364  ...  0.263873  0.073850  0.185081
607     0.288062  0.013579  0.046839  ...  0.294264  0.144265  0.123624
608     0.309738  0.038650  0.049993  ...  1.000000  0.131168  0.284568
609     0.097140  0.030528  0.000000  ...  0.131168  1.000000  0.045561
610     0.125545  0.092633  0.031064  ...  0.284568  0.045561  1.000000

[610 rows x 610 columns]

### Calculate the preferences

In [ ]:
# 計算 Users 對 Items 的偏好程度
P = S@rating_pivot
print(P)

movieId     1          2          3       ...    193585    193587    193609
userId                                    ...
1        37.740124  20.266241  10.789043  ...  0.005672  0.005672  0.050653
2        11.167948   5.755950   1.493934  ...  0.096250  0.096250  0.171920
3         5.905909   3.384914   1.722441  ...  0.000000  0.000000  0.000000
4        26.923313  13.479705   6.525372  ...  0.011756  0.011756  0.062994
5        33.718201  20.023260   8.648215  ...  0.000000  0.000000  0.058155
...            ...        ...        ...  ...       ...       ...       ...
606      35.021499  19.181163   8.121257  ...  0.018110  0.018110  0.140941
607      37.208653  20.057047   9.312567  ...  0.006317  0.006317  0.045135
608      51.217277  31.066904  14.681630  ...  0.017980  0.017980  0.224814
609      28.468446  16.281960   7.406512  ...  0.000000  0.000000  0.038051
610      34.247052  19.408169   6.722207  ...  0.112523  0.112523  0.284375

[610 rows x 9724 columns]

### Prediction for the user

In [ ]:
# 取出第5號用戶的分數
u = P.loc[5]
print(type(u))

# 排序
sorted_u = u.sort_values(ascending=False)
sorted_u

# 取前5名
top_ids = pd.DataFrame(sorted_u[:5].index)
top_ids

<class 'pandas.core.series.Series'>

   movieId
0      296
1      356
2      318
3      110
4      150

In [ ]:
# 取出電影名稱

#順序會被重排
#top_movies = movies[movies['movieId'].isin(top_index)]
#top_movies

top_movies = pd.merge(top_ids,movies,on='movieId')
top_movies.title

0                 Pulp Fiction (1994)
1                 Forrest Gump (1994)
2    Shawshank Redemption, The (1994)
3                   Braveheart (1995)
4                    Apollo 13 (1995)
Name: title, dtype: object

# The example for lecture

In [ ]:
import numpy as np
import pandas as pd

a = np.array([
    [3, 4, 0, 3.5, 0],
    [4, 0, 4.5, 0, 3.5],
    [0, 3.5, 0, 0, 3],
    [0, 4, 0, 3.5, 3]
])

#a = np.array([[3,0,2,0,5],[3,4,2,1,0],[0,0,0,0,3],[0,2,0,3,0]])
df = pd.DataFrame(data=a,index=['A','B','C','D'],columns=['a','b','c','d','e'])
df

     a    b    c    d    e
A  3.0  4.0  0.0  3.5  0.0
B  4.0  0.0  4.5  0.0  3.5
C  0.0  3.5  0.0  0.0  3.0
D  0.0  4.0  0.0  3.5  3.0

In [ ]:
# 轉成是否有評分
df[df > 0] = 1.0
df

     a    b    c    d    e
A  1.0  1.0  0.0  1.0  0.0
B  1.0  0.0  1.0  0.0  1.0
C  0.0  1.0  0.0  0.0  1.0
D  0.0  1.0  0.0  1.0  1.0

In [ ]:
A = df

A.T

     A    B    C    D
a  1.0  1.0  0.0  0.0
b  1.0  0.0  1.0  1.0
c  0.0  1.0  0.0  0.0
d  1.0  0.0  0.0  1.0
e  0.0  1.0  1.0  1.0

In [ ]:
#共現矩陣
#C = A.dot(A.T)
C = A@A.T
C

     A    B    C    D
A  3.0  1.0  1.0  2.0
B  1.0  3.0  1.0  1.0
C  1.0  1.0  2.0  2.0
D  2.0  1.0  2.0  3.0

In [ ]:
# 取出 C 的對角為每個用戶各自的次數
arr = C.to_numpy()
user_rating_counts = np.diagonal(arr)
user_rating_counts

array([3., 3., 2., 3.])

In [ ]:
arr2 = np.tile(user_rating_counts, (len(user_rating_counts),1))
X = pd.DataFrame(data=arr2.T)
X

     0    1    2    3
0  3.0  3.0  3.0  3.0
1  3.0  3.0  3.0  3.0
2  2.0  2.0  2.0  2.0
3  3.0  3.0  3.0  3.0

In [ ]:
X.T

     0    1    2    3
0  3.0  3.0  2.0  3.0
1  3.0  3.0  2.0  3.0
2  3.0  3.0  2.0  3.0
3  3.0  3.0  2.0  3.0

In [ ]:
# 分母部份：C' = N(u)*N(v)
C2 = X*X.T
C2.index = ['A','B','C','D']
C2.columns = ['A','B','C','D']
C2

     A    B    C    D
A  9.0  9.0  6.0  9.0
B  9.0  9.0  6.0  9.0
C  6.0  6.0  4.0  6.0
D  9.0  9.0  6.0  9.0

In [ ]:
# 分母部份：C'開根號
D = np.sqrt(C2)
D

         A        B        C        D
A  3.00000  3.00000  2.44949  3.00000
B  3.00000  3.00000  2.44949  3.00000
C  2.44949  2.44949  2.00000  2.44949
D  3.00000  3.00000  2.44949  3.00000

In [ ]:
#計算最後的相似度矩陣
SIM = C/D
SIM

          A         B         C         D
A  1.000000  0.333333  0.408248  0.666667
B  0.333333  1.000000  0.408248  0.333333
C  0.408248  0.408248  1.000000  0.816497
D  0.666667  0.333333  0.816497  1.000000